# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.production

# Temp & uploads
tmp/
uploads/
*.tmp

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

.vercel
